Port 22
PermitRootLogin no
AllowUsers zelf
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
PermitEmptyPasswords no
MaxAuthTries 3
X11Forwarding no
AllowAgentForwarding no
StrictModes yes
SyslogFacility AUTH
LogLevel VERBOSE
ClientAliveInterval 300
ClientAliveCountMax 3
PidFile /var/run/sshd.pid
HostbasedAuthentication no
IgnoreRhosts yes
MaxSessions 5
MaxStartups 3:10:30
LoginGraceTime 30
UsePAM yes
