Port 22
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
PubkeyAuthentication yes
#AuthorizedKeysFile .ssh/authorized_keys
PermitEmptyPasswords no
MaxAuthTries 3
X11Forwarding no
#AllowTcpForwarding no
#GatewayPorts no
StrictModes yes
SyslogFacility AUTH
LogLevel INFO
ClientAliveInterval 300
ClientAliveCountMax 0
UsePrivilegeSeparation sandbox
PidFile /var/run/sshd.pid
HostbasedAuthentication no
IgnoreRhosts yes
IgnoreUserKnownHosts yes
#AddressFamily any
#PrintLastLog no
#PrintMotd no
Compression yes
MaxSessions 10
MaxStartups 10:30:60
#Banner none
