name: Build and Push Fedora Toolbox Image
on:
  schedule:
    - cron: "20 22 * * 1" # 10:20pm everyday
  pull_request:
  merge_group:
  workflow_dispatch:
env:
  IMAGE_NAME: fedora-toolbox
  IMAGE_TAGS: latest
  IMAGE_REGISTRY: ghcr.io
  IMAGE_REPOSITORY: ${{ github.repository_owner }}/fedora-toolbox

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  push-ghcr:
    name: Build and push image
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
    steps:
      # Checkout push-to-registry action GitHub repository
      - name: Checkout Push to Registry action
        uses: actions/checkout@v4

      - name: Verify Fedora distrobox
        uses: EyeCantCU/cosign-action/verify@v0.3.0
        with:
          containers: fedora-distrobox:latest

      - name: Normalize image reference
        id: image_ref
        run: |
          IMAGE_PATH="${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}"
          echo "image=${IMAGE_PATH,,}" >> "$GITHUB_OUTPUT"

      # Build metadata
      - name: Image Metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          images: |
            ${{ steps.image_ref.outputs.image }}
          labels: |
            io.artifacthub.package.readme-url=https://raw.githubusercontent.com/zelf/bootc/main/README.md

      # Build image using Buildah action
      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: |
            ./toolbox/Containerfile.fedora
          image: ${{ steps.image_ref.outputs.image }}
          tags: ${{ env.IMAGE_TAGS }}
          labels: ${{ steps.meta.outputs.labels }}
          oci: false

      # Push the image to GHCR (Image Registry)
      - name: Push To GHCR
        uses: redhat-actions/push-to-registry@v2
        if: github.event_name != 'pull_request'
        id: push
        env:
          REGISTRY_USER: ${{ github.actor }}
          REGISTRY_PASSWORD: ${{ github.token }}
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          extra-args: |
            --compression-format=zstd:chunked

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Sign container
      - uses: sigstore/cosign-installer@v3.8.1
        if: github.event_name != 'pull_request'

      - name: Sign container image
        if: github.event_name != 'pull_request'
        run: |
          cosign sign -y --key env://COSIGN_PRIVATE_KEY ${{ steps.build_image.outputs.image }}@${TAGS}
        env:
          TAGS: ${{ steps.push.outputs.digest }}
          COSIGN_EXPERIMENTAL: false
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}

      - name: Echo outputs
        run: |
          echo "${{ toJSON(steps.push.outputs) }}"
